{% extends 'index.html' %}
{% load static %}
{% block content %}
<section id="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="promo-title">SMART CONDUCT</h2>
          <p>A web based system for managing various activities in the hostel.</p>
          <a href=""><img class="play-btn" src={% static "images/smart_conduct2.png" %}>Watch various activities</a>
        </div>  
          <div class="col-md-6 text-center">
            <img class="img-fluid" src={% static "images/smart_conduct4.png" %}>
          </div>
      </div>
    </div>
</section>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<section class="container pt-3 mb-3">
    <h2 class="h3 block-title text-center">Our Service</h2>
    <div class="row pt-5 mt-30">
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card" href="{% url 'student' %}">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-bed fa-3x head-icon"></i></div>
                <div class="card-body text-center">
                    <h3 class="card-title pt-1">Room Booking</h3>
                    <p class="card-text text-sm">Room Booking form.Submit the form with your information and room identy.</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card" href="{% url 'food' %}">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-cutlery fa-3x head-icon"></i></div>
                <div class="card-body text-center">
                    <h3 class="card-title pt-1">Canteen</h3>
                    <p class="card-text text-sm">Choice your favourite food with select quantity.All food are not available everyday.</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card" href="#">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-address-book fa-3x head-icon"></i></div>
                <div class="card-body text-center">
                    <h3 class="card-title pt-1">Laundry System</h3>
                    <p class="card-text text-sm">We provive a smart laundry system.Where it include with some lsundry services, payment & delivery</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card" href="#">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-exclamation-circle fa-3x head-icon"></i></div>
                <div class="card-body text-center">
                    <h3 class="card-title pt-1">Generate Problem</h3>
                    <p class="card-text text-sm">There might be some issue in hostem.if you face any kind of problem,then create a post with your prblme.We will solve it.</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card" href="#">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-spinner fa-3x head-icon"></i></div>
                <div class="card-body text-center">
                    <h3 class="card-title pt-1">Arrange Program</h3>
                    <p class="card-text text-sm">Student can arrenge any kind of program with authority permission.To arrange program create a post</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card" href="#">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-fire fa-3x head-icon"></i></div>
                <div class="card-body text-center">
                    <h3 class="card-title pt-1">Emergency</h3>
                    <p class="card-text text-sm">This service include with medical, ambulance, fire or any kind of emergency problem</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
                </div>
            </a>
        </div>
    </div>
</section>
<div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">About us </h1>
          <p class="lead text-muted mb-0">“SMART CONDUCT” aims at the administration of Hostel letting the complete process of allotment and its management be dependent on computers.

            This system manages the student information, room information, room allocation, Registration fee detail, laundry management, Canteen detail & fee payment method of the hostel.</p> 
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
      
{% endblock %}